<launch>
  <node name="flcYaw" pkg="mofs" type="mofs" args="PID.txt 125Rules.txt flcYaw">
  </node> 
    <node name="flcRoll" pkg="mofs" type="mofs" args="PID_basic45rules.txt basic45rules.txt flcRoll">
  </node> 
	<node name="flcPitch" pkg="mofs" type="mofs" args="PID_basic45rules.txt basic45rules.txt flcPitch">
  </node> 
</launch>
